<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" >
    <thead>
        <tr>
            <th colspan="2">名称</th>>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
        </tr>
        <tr>
            <td colspan="2">Sachin</td>
        </tr>
    </tbody>
</table>
</body>
<script src="../../vendor/jquery/jquery.js"></script>
<script src="../../js/logic/baseinfo/category.js"></script>
<script src="../../vendor/bootstrap-table/bootstrap-table.js"></script>
<script src="../../vendor/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</html>