<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.css">

    </head>
    <style>
        /*.body{*/
        /*    */
        /*    background-color: #00a7d0;*/
        /*    background-size:cover;*/
        /*}*/
        .login-box{
            width: 500px;
            height: 300px;
            border: 1px solid black ;
            background-color: lightskyblue;
        }
    </style>
<body class="body">
    <div panel class="login-box" >
        <div class="panel-heading">XXX登录系统</div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label">用户名：</label>
                    <div  class="col-md-9">
                        <input class="form-control" id="username" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">密码：</label>
                    <div  class="col-md-9">
                        <input class="form-control" id="password" placeholder="password">
                    </div>
                </div>
            </form>
            <label>
                <input type="checkbox"> 记住我
            </label>
            <div>
                    <button >提交</button>
            </div>
        </div>

    </div>
</body>

</html>